html,
body {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Lato, sans-serif;
}

body.dark-mode {
	color: #dde1ee;
	background: #1a1e23;
}

a {
	color: #007584;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body.dark-mode a {
	color: #69eaff;
}

::selection {
	background: #69eaff;
}
::-moz-selection {
	background: #69eaff;
}

body.dark-mode ::selection {
	background: #444;
}
body.dark-mode ::-moz-selection {
	background: #444;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.5em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
body.dark-mode input,
button,
select,
textarea {
	background-color: #101314;
	color: #fff;
	border: 1px solid #5f6973;
}

input::placeholder {
	color: rgba(51, 51, 51, 0.4);
}

body.dark-mode input::placeholder {
	color: rgba(200, 200, 200, 0.4);
}

input:focus {
	outline: 2px solid #007584;
}

body.dark-mode input:focus {
	outline: 2px solid #69eaff;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

body.dark-mode button {
	color: #eee;
	background-color: #3a4450;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

body.dark-mode button:not(:disabled):active {
	background-color: #333946;
}

button:focus {
	border-color: #666;
}

small {
	font-size: 0.8em;
}

* {
	transition-property: color, background-color;
	transition-duration: 0.15s;
	transition-delay: 0s;
	transition-timing-function: ease-out;
}

.preload,
.preload * {
	transition-property: none !important;
}
